.Modal {
    position: fixed;
    z-index: 50;
    background-color: white;
    width: 90vw;
    height: 80vh;
    left: 5vw;
    top: 5vw;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;

    background-color: grey;
    align-items: center;
    padding: 5vw;
    margin: 2em auto;
    border: 20px solid black;
    border-radius: 20px;
    clip-path: polygon(
        0px calc(100% - 50px),
        10px calc(100% - 50px),
        10px calc(100% - 30px),
        20px calc(100% - 30px),
        20px calc(100% - 20px),
        30px calc(100% - 20px),
        30px calc(100% - 10px),
        50px calc(100% - 10px),
        50px 100%,
        calc(100% - 50px) 100%,
        calc(100% - 50px) calc(100% - 10px),
        calc(100% - 30px) calc(100% - 10px),
        calc(100% - 30px) calc(100% - 20px),
        calc(100% - 20px) calc(100% - 20px),
        calc(100% - 20px) calc(100% - 30px),
        calc(100% - 10px) calc(100% - 30px),
        calc(100% - 10px) calc(100% - 50px),
        100% calc(100% - 50px),
        100% 50px,
        calc(100% - 10px) 50px,
        calc(100% - 10px) 30px,
        calc(100% - 20px) 30px,
        calc(100% - 20px) 20px,
        calc(100% - 30px) 20px,
        calc(100% - 30px) 10px,
        calc(100% - 50px) 10px,
        calc(100% - 50px) 0px,
        50px 0px,
        50px 10px,
        30px 10px,
        30px 20px,
        20px 20px,
        20px 30px,
        10px 30px,
        10px 50px,
        0px 50px
    );
}

.Modal h1 {
    font-size: 8vh;
}
.Modal h2 {
    font-size: 5vh;
}

.Modal input {
    font: "Alagard";
    font-size: 4vh;
    width: 20vw;
}

.Modal img {
    max-width: 70vw;
}
