.Modal {
    position: fixed;
    z-index: 50;
    background-color: white;
    width: 90vw;
    height: 80vh;
    left: 5vw;
    top: 5vw;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;

    background-color: grey;
    align-items: center;
    padding: 5vw;
    margin: 2em auto;
    border: 1vh solid black;
    border-radius: 2vh;
    clip-path: polygon(
        0px calc(100% - 4vh),
        1vh calc(100% - 4vh),
        1vh calc(100% - 3vh),
        2vh calc(100% - 3vh),
        2vh calc(100% - 2vh),
        3vh calc(100% - 2vh),
        3vh calc(100% - 1vh),
        4vh calc(100% - 1vh),
        4vh 100%,
        calc(100% - 4vh) 100%,
        calc(100% - 4vh) calc(100% - 1vh),
        calc(100% - 3vh) calc(100% - 1vh),
        calc(100% - 3vh) calc(100% - 2vh),
        calc(100% - 2vh) calc(100% - 2vh),
        calc(100% - 2vh) calc(100% - 3vh),
        calc(100% - 1vh) calc(100% - 3vh),
        calc(100% - 1vh) calc(100% - 4vh),
        100% calc(100% - 4vh),
        100% 4vh,
        calc(100% - 1vh) 4vh,
        calc(100% - 1vh) 3vh,
        calc(100% - 2vh) 3vh,
        calc(100% - 2vh) 2vh,
        calc(100% - 3vh) 2vh,
        calc(100% - 3vh) 1vh,
        calc(100% - 4vh) 1vh,
        calc(100% - 4vh) 0px,
        4vh 0px,
        4vh 1vh,
        3vh 1vh,
        3vh 2vh,
        2vh 2vh,
        2vh 3vh,
        1vh 3vh,
        1vh 4vh,
        0px 4vh
    );
}

.Modal h1 {
    font-size: 8vh;
}
.Modal h2 {
    font-size: 5vh;
}

.Modal input {
    font: "Alagard";
    font-size: 4vh;
    width: 20vw;
}

.Modal img {
    max-width: 70vw;
}
