.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Input {
    height: 10vh;
}

.Input input {
    height: 8vh;
}

.Input input[type="text"] {
    font-family: Alagard;
}
.Error {
    display: flex;
    flex-direction: column;
    height: 5vh;
}

.Error span {
    height: 2vh;
    font-size: 2vh;
}
