html,
body {
    overflow: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    min-width: 600px;
    min-height: 800px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.overlay {
    text-align: center;
    position: absolute;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Alagard";
    src: local("Alagard"), url(./fonts/alagard.ttf) format("truetype");
}

#useFont {
    font-family: "Alagard";
    font-size: 10pt;
}
